
.navbar1{
    background-color: rgb(236, 150, 162);
    border-radius: none;
    color: black;
}

.navbar1 a{
      color: white;
}

/* 
carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    max-width: 100%;
    height: 446px; */


.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 550px;
}

.icecream{
       margin-top: 3rem;
       margin-bottom: 3rem;
}

.footer{
    background-color:  rgb(236, 150, 162);
    color: white;
    height: 7vh;
    text-align: center;
    padding-top: 10px;
}


button{
    background-color: transparent;
    color: white;
    height: 10vh;
    width: 200px;
    border-radius: 10px;
    border-color: aliceblue;
    font-size: medium;
}
button:hover{
    background-color: rgb(255, 119, 137);
    color: white;
}

.us{
    padding-top: 100px;
}

.but{
    padding-left: 10px;
}

.icon{
    padding-left: 600px;
   position: absolute;
   top: 20px; 
}

.jumbotron{
    background-image: url(images/brenda-godinez-MsTOg6rhRVk-unsplash.jpg);
    background-size: cover; 
    background-attachment: fixed;
    min-height: 500px;
    margin-top: 0px;
    margin-bottom: 8px;
    text-align: center; 
}


.parfait{
      padding-top: 100px;
}
.me{
    height: 30vh;
}

a{
 background-color: transparent;
 
}

.parfait-thumbnails:hover{
           transform: translateY(-50px);    
            transition: 1s;
        
}

.serve{
    padding-bottom: 150px;
    
}

.cart{
    background-color: transparent;
    width: 100%;
    border-radius: 0px;

}

.thumbnail{
        border: 1px solid white ;
}

.buttoncart{
           padding-left: 75px;
           
}

.smoothies{
    background-image: url(officeimages/joanna-kosinska-m741tj4Cz7M-unsplash.jpg);
    background-size: cover; 
    background-attachment: fixed;
    min-height: 500px;
    margin-top: 0px;
    margin-bottom: 8px;
    text-align: center; 
}

.milkshakes{
    background-image:url(images/douglas-lopez-bVKfhYCltIg-unsplash.jpg);
    background-size: cover; 
    background-color: black;
    background-attachment: fixed;
    min-height: 600px;
    margin-top: 0px;
    margin-bottom: 8px;
    text-align: center; 
}


.cakes{
    background-image: url(images/pexels-pixabay-45202.jpg);
    background-size: cover; 
    background-attachment: fixed;
    min-height: 600px;
    margin-top: 0px;
    margin-bottom: 8px;
    text-align: center; 

}

/* .hover:hover{
    
    border: 1px solid rgba(255, 68, 155, 0.555);
    /* box-shadow: 2px 2px 2px rgb(158, 157, 157); */



.wraps{
    
        background-image: url(images/louis-hansel-MlPD-AzZYMg-unsplash.jpg);
        background-size: cover; 
        background-attachment: fixed;
        min-height: 600px;
        margin-top: 0px;
        margin-bottom: 8px;
        text-align: center; 
    
    
}